.typography {
  &[data-variant='title'] {
    @apply leading-tight;
    &[data-size='lg'] {
      @apply lg:text-2xl text-xl;
      letter-spacing: 0px;
    }
    &[data-size='md'] {
      @apply text-xl;
      letter-spacing: 0.02px;
    }
    &[data-size='sm'] {
      @apply text-lg;
    }
  }
  &[data-variant='body'] {
    @apply leading-tight;
    &[data-size='lg'] {
      @apply lg:text-xl text-lg;
    }
    &[data-size='md'] {
      @apply text-base;
      letter-spacing: 0px;
    }
    &[data-size='sm'] {
      @apply text-xs;
      letter-spacing: 0px;
    }
  }
  &[data-variant='label'] {
    &[data-size='lg'] {
      @apply text-base;
      letter-spacing: 0px;
    }
    &[data-size='md'] {
      @apply text-sm;
    }
    &[data-size='sm'] {
      @apply text-xs;
    }
  }
  &[data-weight='regular'] {
    @apply font-normal;
  }
  &[data-weight='medium'] {
    @apply font-medium;
  }
  &[data-weight='semibold'] {
    @apply font-semibold;
  }
  &[data-weight='bold'] {
    @apply font-bold;
  }
  &[data-weight='light'] {
    @apply font-light;
  }
}